* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #164863;
  --blue: #427d9d;
  --blue-ocean: #9bbec8;
  --light-blue: #ddf2fd;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--blue);
}

.register-page,
.login-page {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.register-input,
.login-input {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-input input,
.login-input input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-input button,
.login-input button {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-input button:hover,
.login-input button:hover {
  background-color: var(--dark-blue);
}

/* navigation */

._dot {
  color: yellow;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.navigation nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  gap: 2em;
}

nav {
  display: flex;
}

.navigation nav a {
  color: var(--blue);
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

.navigation nav .btn-login {
  padding: 9px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navigation nav .btn-login:hover {
  background-color: var(--dark-blue);
}

/* thread */
.thread-container .threads,
.leaderBoard-container .leaderBoards {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 2em;
  background-color: white;
  padding: 30px;
}

.thread-container .threads header div {
  display: flex;
}

.thread-container .threads,
.leaderBoard-container .leaderBoards {
  min-height: 93vh;
}

.thread-container .threads header div p {
  margin: 0px 5px;
}

.thread-container,
.leaderBoard-container {
  min-height: 93vh;
  background-color: #f0f0f0;
}

.thread-item__footer {
  display: flex;
  gap: 10px;
}

.thread-item__footer button {
  color: var(--blue);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.thread-item__footer button svg {
  font-size: 17px;
}

.thread-item__footer p svg {
  font-size: 17px;
}

.thread-item__footer button span {
  font-size: 15px;
}

.list-threads {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(152, 151, 151);
}

.thread-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thread-item__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thread-item__header span {
  max-width: max-content;
  padding: 4px 8px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.thread-item__header a {
  transition: color 0.3s ease;
  text-decoration: none;
}

.thread-item__header a:hover {
  text-decoration: underline;
}
/*  */

/* LeaderBoard */
.leaderBoard-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.leaderBoard-list header p{
  font-weight: bold;
}

.leaderBoard-list header,
.leaderBoard-item {
  min-width: 700px;
}

.leaderBoard-list header, .leaderBoard-item {
  display: flex;
  justify-content: space-between;
}
/*  */
